<div id="landingContainer" style="display: none">
  <div id="upper">
    <div id="left">
      <div class="mediaContent">
        <div class="externalMedia">
          <div class="mediaContainer">
            <a href="<%- lang('landing.mediaPathnotesURL') %>" class="mediaURL">
              <button class="mediaButton">
                <svg class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                  <g>
                    <path
                      d="M75.37,65.51a3.85,3.85,0,0,0-1.73.42,8.22,8.22,0,0,1,.94,3.76A8.36,8.36,0,0,1,66.23,78H46.37a8.35,8.35,0,1,1,0-16.7h9.18a21.51,21.51,0,0,1,6.65-8.72H46.37a17.07,17.07,0,1,0,0,34.15H66.23A17,17,0,0,0,82.77,65.51Z"
                    />
                    <path
                      d="M66,73.88a3.85,3.85,0,0,0,1.73-.42,8.22,8.22,0,0,1-.94-3.76,8.36,8.36,0,0,1,8.35-8.35H95A8.35,8.35,0,1,1,95,78H85.8a21.51,21.51,0,0,1-6.65,8.72H95a17.07,17.07,0,0,0,0-34.15H75.13A17,17,0,0,0,58.59,73.88Z"
                    />
                  </g>
                </svg>
                <div class="mediaTooltip">
                  <%- lang('landing.mediaPathnotesTitle') %>
                </div>
              </button>
            </a>
          </div>
          <div class="mediaContainer">
            <a href="<%- lang('landing.mediaWikiURL') %>" class="mediaURL">
              <button class="mediaButton">
                <svg
                  class="mediaSVG"
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="white"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 19V6.2C4 5.0799 4 4.51984 4.21799 4.09202C4.40973 3.71569 4.71569 3.40973 5.09202 3.21799C5.51984 3 6.0799 3 7.2 3H16.8C17.9201 3 18.4802 3 18.908 3.21799C19.2843 3.40973 19.5903 3.71569 19.782 4.09202C20 4.51984 20 5.0799 20 6.2V17H6C4.89543 17 4 17.8954 4 19ZM4 19C4 20.1046 4.89543 21 6 21H20M9 7H15M9 11H15M19 17V21"
                    stroke="#ffffff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <div class="mediaTooltip">
                  <%- lang('landing.mediaWikiTitle') %>
                </div>
              </button>
            </a>
          </div>
          <div class="mediaContainer">
            <a href="<%- lang('landing.mediaVoteURL') %>" class="mediaURL">
              <button class="mediaButton">
                <svg
                  class="mediaSVG"
                  version="1.1"
                  id="_x32_"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st0 {
                      fill: #ffffff;
                    }
                  </style>
                  <g>
                    <path
                      class="st0"
                      d="M380.952,104.852c-8.399-10.499-21.102-16.606-34.538-16.606h-39.592v30.626h18.803l14.916,18.689H171.441
		l14.917-18.689h18.82V88.246h-39.61c-13.436,0-26.139,6.107-34.538,16.606l-58.62,73.459h367.181L380.952,104.852z"
                    />
                    <rect
                      x="217.863"
                      class="st0"
                      width="76.256"
                      height="124.996"
                    />
                    <path
                      class="st0"
                      d="M249.753,317.466l-2.422,21.773h7.65h2.022h7.65l-2.422-21.773c4.513-2.292,7.615-6.909,7.615-12.303
		c0-7.659-6.203-13.862-13.853-13.862c-7.65,0-13.854,6.203-13.854,13.862C242.137,310.557,245.239,315.174,249.753,317.466z"
                    />
                    <path
                      class="st0"
                      d="M265.61,210.348c13.958,4.156,24.152,17.043,24.152,32.352v17.007h-13.976V242.7
		c0-5.481-2.213-10.386-5.803-13.994c-1.289-1.289-2.77-2.396-4.374-3.302v3.416c0,5.307-4.304,9.611-9.619,9.611
		c-5.315,0-9.62-4.304-9.62-9.611v-3.416c-1.602,0.906-3.066,2.013-4.374,3.302c-3.59,3.607-5.803,8.513-5.803,13.994v17.007H222.22
		V242.7c0.018-15.309,10.194-28.196,24.152-32.352v-18.184H72.409v245.75c0,21.146,17.147,38.293,38.284,38.293h290.594
		c21.155,0,38.302-17.147,38.302-38.293v-245.75H265.61V210.348z M306.596,285.262v66.802c0,8.147-6.586,14.742-14.724,14.742
		h-71.744c-8.138,0-14.742-6.595-14.742-14.742v-66.802c0-8.129,6.604-14.734,14.742-14.734h71.744
		C300.009,270.529,306.596,277.134,306.596,285.262z"
                    />
                    <rect
                      x="106.459"
                      y="485.442"
                      class="st0"
                      width="31.192"
                      height="26.558"
                    />
                    <rect
                      x="374.348"
                      y="485.442"
                      class="st0"
                      width="31.174"
                      height="26.558"
                    />
                  </g>
                </svg>
                <div class="mediaTooltip">
                  <%- lang('landing.mediaVoteTitle') %>
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div id="musicInfo">
        <img id="musicIcon" src="assets/images/sound.gif" />
        <span id="musicText"></span>
      </div>
      <div id="appIconContainer">
        <img id="appIconCenterImage" src="assets/images/LandingLogo.png" />
      </div>
    </div>
    <div id="right">
      <div id="rightContainer">
        <div id="user_content">
          <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
          <div id="avatarContainer">
            <button id="avatarOverlay">
              <%- lang('landing.usernameEditButton') %>
            </button>
          </div>
        </div>
        <div class="mediaContent">
          <div id="internalMedia">
            <div class="mediaContainer" id="settingsMediaContainer">
              <button class="mediaButton" id="settingsMediaButton">
                <svg
                  id="settingsSVG"
                  class="mediaSVG"
                  viewBox="0 0 141.36 137.43"
                >
                  <path
                    d="M70.70475616319865,83.36934004916053 a15.320781354859122,15.320781354859122 0 1 1 14.454501310561755,-15.296030496450625 A14.850515045097694,14.850515045097694 0 0 1 70.70475616319865,83.36934004916053 M123.25082856443602,55.425620905968366 h-12.375429204248078 A45.54157947163293,45.54157947163293 0 0 0 107.21227231573047,46.243052436416285 l8.613298726156664,-9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-3.465120177189462,-3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 l-8.613298726156664,9.108315894326587 A40.442902639482725,40.442902639482725 0 0 0 81.99114759747292,25.427580514871032 V12.532383284044531 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,-9.306322761594556 h-4.950171681699231 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,9.306322761594556 v12.895197230826497 a40.17064319698927,40.17064319698927 0 0 0 -9.331073620003052,4.0591407789933704 l-8.613298726156664,-9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 L25.58394128451018,23.967279868769744 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 L34.19724001066683,46.243052436416285 a45.07131316187151,45.07131316187151 0 0 0 -3.6631270444574313,9.083565035918088 h-12.375429204248078 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,9.306322761594556 v5.197680265784193 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,9.306322761594556 h11.979415469712139 a45.69008462208391,45.69008462208391 0 0 0 4.0591407789933704,10.642869115653347 l-8.613298726156664,9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 l3.465120177189462,3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l8.613298726156664,-9.108315894326587 a40.49240435629971,40.49240435629971 0 0 0 9.331073620003052,4.0591407789933704 v12.895197230826497 a9.083565035918088,9.083565035918088 0 0 0 8.811305593424633,9.306322761594556 h4.950171681699231 A9.083565035918088,9.083565035918088 0 0 0 81.99114759747292,123.68848839660077 V110.79329116577425 a40.78941465720167,40.78941465720167 0 0 0 9.331073620003052,-4.0591407789933704 l8.613298726156664,9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l3.465120177189462,-3.6631270444574313 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-8.613298726156664,-9.108315894326587 a45.665333763675406,45.665333763675406 0 0 0 4.034389920584874,-10.642869115653347 h12.004166328120636 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,-9.306322761594556 v-5.197680265784193 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,-9.306322761594556 "
                    id="svg_3"
                    class=""
                  />
                </svg>
                <div class="mediaTooltip">
                  <%- lang('landing.settingsTooltip') %>
                </div>
              </button>
            </div>
          </div>
          <div class="mediaDivider"></div>
          <div class="externalMedia">
            <div class="mediaContainer">
              <a
                href="<%- lang('landing.mediaXURL') %>"
                class="mediaURL"
                id="xURL"
              >
                <svg id="xSVG" class="mediaSVG" viewBox="0 0 275 275">
                  <g>
                    <path
                      d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"
                    />
                  </g>
                </svg>
              </a>
            </div>
            <div class="mediaContainer">
              <a
                href="<%- lang('landing.mediaInstagramURL') %>"
                class="mediaURL"
                id="instagramURL"
              >
                <svg id="instagramSVG" class="mediaSVG" viewBox="0 0 5040 5040">
                  <defs>
                    <radialGradient id="instaFill" cx="30%" cy="107%" r="150%">
                      <stop offset="0%" stop-color="#fdf497" />
                      <stop offset="5%" stop-color="#fdf497" />
                      <stop offset="45%" stop-color="#fd5949" />
                      <stop offset="60%" stop-color="#d6249f" />
                      <stop offset="90%" stop-color="#285AEB" />
                    </radialGradient>
                  </defs>
                  <g>
                    <path
                      d="M1390 5024 c-163 -9 -239 -19 -315 -38 -281 -70 -477 -177 -660 -361 -184 -184 -292 -380 -361 -660 -43 -171 -53 -456 -53 -1445 0 -989 10 -1274 53 -1445 69 -280 177 -476 361 -660 184 -184 380 -292 660 -361 171 -43 456 -53 1445 -53 989 0 1274 10 1445 53 280 69 476 177 660 361 184 184 292 380 361 660 43 171 53 456 53 1445 0 989 -10 1274 -53 1445 -69 280 -177 476 -361 660 -184 184 -380 292 -660 361 -174 44 -454 53 -1470 52 -599 0 -960 -5 -1105 -14z m2230 -473 c58 -6 141 -18 185 -27 397 -78 638 -318 719 -714 37 -183 41 -309 41 -1290 0 -981 -4 -1107 -41 -1290 -81 -395 -319 -633 -714 -714 -183 -37 -309 -41 -1290 -41 -981 0 -1107 4 -1290 41 -397 81 -636 322 -714 719 -33 166 -38 296 -43 1100 -5 796 3 1203 27 1380 67 489 338 758 830 825 47 7 162 15 255 20 250 12 1907 4 2035 -9z"
                    />
                    <path
                      d="M2355 3819 c-307 -42 -561 -172 -780 -400 -244 -253 -359 -543 -359 -899 0 -361 116 -648 367 -907 262 -269 563 -397 937 -397 374 0 675 128 937 397 251 259 367 546 367 907 0 361 -116 648 -367 907 -197 203 -422 326 -690 378 -101 20 -317 27 -412 14z m400 -509 c275 -88 470 -284 557 -560 20 -65 23 -95 23 -230 0 -135 -3 -165 -23 -230 -88 -278 -284 -474 -562 -562 -65 -20 -95 -23 -230 -23 -135 0 -165 3 -230 23 -278 88 -474 284 -562 562 -20 65 -23 95 -23 230 0 135 3 165 23 230 73 230 219 403 427 507 134 67 212 83 390 79 111 -3 155 -8 210 -26z"
                    />
                    <path
                      d="M3750 1473 c-29 -11 -66 -38 -106 -77 -70 -71 -94 -126 -94 -221 0 -95 24 -150 94 -221 72 -71 126 -94 225 -94 168 0 311 143 311 311 0 99 -23 154 -94 225 -43 42 -76 66 -110 77 -61 21 -166 21 -226 0z"
                    />
                  </g>
                </svg>
              </a>
            </div>
            <div class="mediaContainer">
              <a
                href="<%- lang('landing.mediaTikTokURL') %>"
                class="mediaURL"
                id="tiktokURL"
              >
                <svg
                  id="tiktokSVG"
                  class="mediaSVG"
                  fill="#ffffff"
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                >
                  <path
                    d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z"
                  />
                </svg>
              </a>
            </div>
            <div class="mediaContainer">
              <a
                href="<%- lang('landing.mediaYouTubeURL') %>"
                class="mediaURL"
                id="youtubeURL"
              >
                <svg
                  id="youtubeSVG"
                  class="mediaSVG"
                  viewBox="35.34 34.3575 70.68 68.71500"
                >
                  <g>
                    <path
                      d="M84.8,69.52,65.88,79.76V59.27Zm23.65.59c0-5.14-.79-17.63-3.94-20.57S99,45.86,73.37,45.86s-28,.73-31.14,3.68S38.29,65,38.29,70.11s.79,17.63,3.94,20.57,5.52,3.68,31.14,3.68,28-.74,31.14-3.68,3.94-15.42,3.94-20.57"
                    />
                  </g>
                </svg>
              </a>
            </div>
            <div class="mediaContainer">
              <a
                href="<%- lang('landing.mediaDiscordURL') %>"
                class="mediaURL"
                id="discordURL"
              >
                <svg
                  id="discordSVG"
                  class="mediaSVG"
                  viewBox="35.34 34.3575 70.68 68.71500"
                >
                  <g>
                    <path
                      d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"
                    />
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="lower">
    <div id="left">
      <div class="bot_wrapper">
        <div id="content">
          <div id="server_status_wrapper">
            <span class="bot_label" id="landingPlayerLabel"
              ><%- lang('landing.serverStatus') %></span
            >
            <span id="player_count"
              ><%- lang('landing.serverStatusPlaceholder') %></span
            >
          </div>
          <div class="bot_divider"></div>
          <div id="mojangStatusWrapper">
            <span class="bot_label"><%- lang('landing.mojangStatus') %></span>
            <span id="mojang_status_icon">&#8226;</span>
            <div id="mojangStatusTooltip">
              <div id="mojangStatusTooltipTitle">
                <%- lang('landing.mojangStatusTooltipTitle') %>
              </div>
              <div id="mojangStatusEssentialContainer">
                <!-- Essential Mojang services are populated here. -->
              </div>
              <div id="mojangStatusNEContainer">
                <div class="mojangStatusNEBar"></div>
                <div id="mojangStatusNETitle">
                  <%- lang('landing.mojangStatusNETitle') %>
                </div>
                <div class="mojangStatusNEBar"></div>
              </div>
              <div id="mojangStatusNonEssentialContainer">
                <!-- Non Essential Mojang services are populated here. -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="center">
      <div class="bot_wrapper">
        <div id="content">
          <button id="newsButton">
            <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
            <div id="newsButtonAlert" style="display: none"></div>
            <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
              <defs>
                <style>
                  .arrowLine {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <polyline
                class="arrowLine"
                points="0.71 13.26 12.56 1.41 24.16 13.02"
              />
            </svg>
            &#10;<span id="newsButtonText"
              ><%- lang('landing.newsButton') %></span
            >
          </button>
        </div>
      </div>
    </div>
    <div id="right">
      <div class="bot_wrapper">
        <div id="launch_content">
          <button id="launch_button">
            <%- lang('landing.launchButton') %>
          </button>
          <div class="bot_divider"></div>
          <button id="server_selection_button" class="bot_label">
            <%- lang('landing.launchButtonPlaceholder') %>
          </button>
        </div>
        <div id="launch_details">
          <div id="launch_details_left">
            <span id="launch_progress_label">0%</span>
            <div class="bot_divider"></div>
          </div>
          <div id="launch_details_right">
            <progress id="launch_progress" value="22" max="100"></progress>
            <span id="launch_details_text" class="bot_label"
              ><%- lang('landing.launchDetails') %></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="newsContainer">
    <div id="newsContent" article="-1" style="display: none">
      <div id="newsStatusContainer">
        <div id="newsStatusContent">
          <div id="newsTitleContainer">
            <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
          </div>
          <div id="newsMetaContainer">
            <div id="newsArticleDateWrapper">
              <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
            </div>
            <div id="newsArticleAuthorWrapper">
              <span id="newsArticleAuthor">by Cicero</span>
            </div>
            <a href="#" id="newsArticleComments">0 Comments</a>
          </div>
        </div>
        <div id="newsNavigationContainer">
          <button id="newsNavigateLeft">
            <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
              <defs>
                <style>
                  .arrowLine {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 2px;
                    transition: 0.25s ease;
                  }
                </style>
              </defs>
              <polyline
                class="arrowLine"
                points="0.71 13.26 12.56 1.41 24.16 13.02"
              />
            </svg>
          </button>
          <span id="newsNavigationStatus"
            ><%- lang('landing.newsNavigationStatus', { currentPage: 1,
            totalPages: 1 }) %></span
          >
          <button id="newsNavigateRight">
            <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
              <defs>
                <style>
                  .arrowLine {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 2px;
                    transition: 0.25s ease;
                  }
                </style>
              </defs>
              <polyline
                class="arrowLine"
                points="0.71 13.26 12.56 1.41 24.16 13.02"
              />
            </svg>
          </button>
        </div>
      </div>
      <div id="newsArticleContainer">
        <div id="newsArticleContent">
          <div id="newsArticleContentScrollable">
            <!-- Article Content -->
          </div>
        </div>
      </div>
    </div>
    <div id="newsErrorContainer">
      <div id="newsErrorLoading">
        <span id="nELoadSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorLoadSpan') %></span
        >
      </div>
      <div id="newsErrorFailed" style="display: none">
        <span id="nEFailedSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorFailedSpan') %></span
        >
        <button id="newsErrorRetry">
          <%- lang('landing.newsErrorRetryButton') %>
        </button>
      </div>
      <div id="newsErrorNone" style="display: none">
        <span id="nENoneSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorNoneSpan') %></span
        >
      </div>
    </div>
  </div>
  <script src="./assets/js/scripts/landing.js"></script>
</div>
